@using System.Security.Claims;
@using AppSidd.Application.Dto;
@using AppSidd.Domain.Users.Auth.JWT;
@{
    ViewData["Title"] = "Dashboard";
}
<style>
    th, td {
        width: 360px; /* adjust to desired wrapping */
        white-space: pre-wrap !important; /* css-3 */
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap !important; /* Opera 4-6 */
        white-space: -o-pre-wrap !important; /* Opera 7 */
        word-wrap: break-word !important; /* Internet Explorer 5.5+ */
    }
</style>
<div class="row m-2 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body text-left">
                    <h1 class="text-primary"><i class="ni ni-single-02 text-primary"></i> Dados do paciente</h1>
                    <strong>Nome:</strong> @ViewBag.Nome<br />
                    <strong>Sexo:</strong> @ViewBag.Sexo<br />
                    <strong>Idade:</strong> @ViewBag.Idade anos<br />
                    <strong>Raça:</strong> @ViewBag.Raca<br />
                    <strong>Reside com:</strong> @ViewBag.ResideCom<br />
                    <strong>Tempo de estudos:</strong> @ViewBag.TempoDeEstudo anos<br />
                    <strong>Possui cuidador:</strong> @ViewBag.PossuiCuidador<br />
                    <strong>Testes:</strong> @ViewBag.TotalTests aplicado(s)
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body text-left">
                    <h1 class="text-primary"><i class="ni ni-single-copy-04 text-primary"></i> Testes - Último aplicado por tipo</h1>
                    <strong>Pfeffer:</strong> @Html.Raw(ViewBag.PfefferLast)<br />
                    <strong>CDR:</strong> @Html.Raw(ViewBag.CDRLast)<br />
                    <strong>Mini Mental:</strong> @Html.Raw(ViewBag.MEEMLast)<br />
                    <strong>MoCA:</strong> @Html.Raw(ViewBag.MoCALast)<br />
                    <strong>GDS:</strong> @Html.Raw(ViewBag.GDSlast)
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body text-left">
                    <h1 class="text-primary"><i class="ni ni-favourite-28"></i> Diagnóstico - SIDD</h1>
                    @Html.Raw(ViewBag.Diagnostico)
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h1 class="text-primary mb-0">Dados do acolhimento</h1>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="        overflow-x: hidden !important">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Data do Acolhimento</th>
                                <th scope="col">Frequencia Cardiaca</th>
                                <th scope="col">Saturação</th>
                                <th scope="col">Pressão Arterial</th>
                                <th scope="col">Glicemia</th>
                                <th scope="col">Queixas relacionadas</th>
                                <th scope="col">Medicamentos</th>
                                <th scope="col">Observações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var aco in ViewBag.Acolhimento)
                            {
                                <tr>
                                    <td>@aco.Created</td>
                                    <td>@aco.FrequenciaCardiaca</td>
                                    <td>@aco.Saturação</td>
                                    <td>@aco.PressaoArterial</td>
                                    <td>@aco.Glicemia</td>
                                    <td>@aco.Sintomas</td>
                                    <td>@aco.Medicamentos</td>
                                    <td>@aco.Observacoes</td>
                                </tr>
                            }
                            @if (Enumerable.Count(ViewBag.Acolhimento) == 0)
                            {
                                <tr><td colspan="8">Nenhum dado de acolhimento a ser exibido. :)</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h1 class="text-primary mb-0">Testes aplicados</h1>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="overflow-x: hidden !important">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Data do Teste</th>
                                <th scope="col">Teste</th>
                                <th scope="col">Pontos</th>
                                <th scope="col">Classificação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var test in ViewBag.Tests)
                            {
                                <tr>
                                    <td>@test.Date</td>
                                    <td>@test.Type</td>
                                    <td><strong>@test.TotalPoints</strong></td>
                                    <td class="@(test.Color == "G" ? Html.Raw("text-info") : @test.Color == "Y" ? Html.Raw("text-primary") : Html.Raw("text-warning"))">@test.Classification</td>
                                </tr>
                            }
                            @if (Enumerable.Count(ViewBag.Tests) == 0)
                            {
                                <tr><td colspan="4">Ainda não foi aplicado nenhum teste nesse paciente. :)</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>

        $(() => {
        });
    </script>
}
